.home {
    color: rgba(30, 30, 30, 0.78);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.huge-text-container {
    font-family: var(--home-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin: 5em 0 0 0;
}

.bring {
    margin-left: 0.5em;
}

.huge-text {
    font-size: 96px;
    color: #383955;
    line-height: 74px;
    /* background-color: aquamarine; */
}

.middle {
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.the-border {
    padding: 1%;
    border: 1px solid #383955;
    border-radius: 14px;
    margin-right: 18px;
}

.the-background {
    background-color: #383955;
    padding: 1.8em 1em 0 1em;
    border-radius: 10px;
    .huge-text {
        color: white;
    }
}

.to-button {
    display: flex;
    align-items: center;
}

.static-button {
    width: 120px;
    height: 40px;
    border: 1px solid #383955;
    border-radius: 500px;
    font-family: var(--medium-font);
    font-size: 13px;
    color: rgba(30, 30, 30, 0.78);
    display: grid;
    place-items: center;
    margin-left: 22px;
    background-color: white;
}

#best {
    margin: 16px 0 0 14px;
}

.colorful {
    background-color: #D3B3E2;
    width: 360px;
    height: 44px;
    border-radius: 500px;
    display: grid;
    place-items: center;
}

.airplane {
    position: absolute;
    margin: -4em 0 0 13em;
    z-index: -1;
}

.svgs {
    position: absolute;
    z-index: -1;
    /* background-color: #383955; */
    padding-top: 5em;
    display: flex;
    width: 100%;
}

#map {
    width: 174px;
    margin: 1em 0 0 13em;
    opacity: 0;
}

#win {
    width: 130px;
    margin: 19em 0 0 8em;
    opacity: 0;
}

#trefle {
    width: 139px;
    margin: 12em 0 0 65em;
    opacity: 0;
}

.plane {
    scale: 0;
}

.svgcontainer {
    /* background-color: #292a33; */
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}