.introducing-section {
    height: 130vh;
    padding: 0 3%;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #FF00E6; */
    ::selection {
        background-color: #fda4ff;
    }
}

.introducing-title {
    width: 100%;
    padding: 8% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #5f2626; */
}

.top-introducing {
    width: 40%;
    font-size: 24px;
    font-weight: 600;
    padding: 2% 0;
    display: flex;
    align-items: baseline;
    /* background-color: #3265BA; */
}

.start {
    margin-right: 14%;
}

.big-text-introducing {
    width: 40%;
    /* background-color: #d57171; */
    font-size: 68px;
    font-weight: 700;
}

.stylizing-line {
    width: 60%;
    height: 5px;
}

.floating-cards {
    margin-top: 2%;
    width: 100%;
    height: 76vh;
    display: flex;
    justify-content: space-between;
    /* background-color: #3265BA; */
}

.card-display {
    width: 23.4%;
    /* background-color: #6b5c69; */
    display: flex;
    flex-direction: column;
}

.end {
    justify-content: end;
}

.between {
    justify-content: space-between;
}

.about-card {
    width: 100%;
    height: 420px;
    border-radius: 12px;
    background-color: #2f2f2f61;
    border: 2px solid #2f2f2f28;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    display: flex;
    padding: 10% 8% 4% 8%;
    /* background-color: #A94CC8; */
}

.card-title img {
    width: 14px;
    opacity: 1;
}

.card-title p {
    margin: 0 4%;
    font-size: 12px;
    font-weight: 600;
}

.presentation {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}

.presentation-little {
    padding: 6% 0 2% 0;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.78);
}

.presentation-name {
    padding: 4% 0;
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.78);
}

.description-text {
    padding: 4% 10%;
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.30);
}

.about-image {
    width: 84%;
    height: 103px;
    padding-bottom: 8%;
}

.about-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.tool-card {
    width: 100%;
    height: 63px;
    border-radius: 12px;
    background-color: #2f2f2f61;
    border: 2px solid #2f2f2f28;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tool-title {
    padding: 0 8%;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.78);
}

.tool-list {
    display: flex;
    justify-content: space-between;
    width: 32%;
    padding: 0 6%;
}

.animation-card {
    width: 100%;
    height: 63px;
    border-radius: 12px;
    background-color: #2f2f2f61;
    border: 2px solid #2f2f2f28;
    display: flex;
    align-items: center;
    margin: 4% 0;
}

.animation-logo {
    padding: 0 3%;
    /* background-color: #A94CC8; */
    display: flex;
    align-items: center;
}

.animation-blabla {
    /* background-color: #A94CC8; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 54%;
}

.animation-title {
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.78);
}

.animation-text {
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.30);
}

.demo-card {
    width: 100%;
    height: 263px;
    border-radius: 12px;
    background-color: #2f2f2f61;
    border: 2px solid #2f2f2f28;
}

.top-demo {
    padding: 6% 6% 0 6%;
    display: flex;
    justify-content: space-between;
}

.demo-text {
    padding: 4% 3%;
    color: rgba(255, 255, 255, 0.78);
}

.yellow-color {
    color: rgba(237, 213, 84, 1);
    font-weight: 600;
}

.purple-color {
    color: rgba(238, 63, 221, 1);
    font-weight: 600;
}

.tag {
    background-color: rgba(47, 47, 47, 0.28);
    height: 12px;
    padding: 3% 8%;
    font-size: 10px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.78);
    border-radius: 32px;
    border: 1px solid #2f2f2f80;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-demo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra-card {
    width: 100%;
    height: 420px;
    border-radius: 12px;
    background-color: #2f2f2f61;
    border: 2px solid #2f2f2f28;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-extra {
    /* background-color: #A94CC8; */
    width: 100%;
}

.extra-text {
    padding: 0 8%;
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.78);
}

.illustration-container {
    /* background-color: #A94CC8; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.vertical-illustration {
    width: 84%;
    height: 177px;
    /* background-color: #FF00E6; */
    display: flex;
    justify-content: space-between;
}

.vertical {
    width: 114px;
    height: 186px;
    border-radius: 8px;
    background-color: aquamarine;
}

.vertical img,
.horizontal-illustration img {
    width: 100%;
    height: 100%;
}

.horizontal-illustration {
    width: 100%;
    height: 103px;
    background-color: aliceblue;
    border-radius: 8px;
    width: 84%;
}

.ability-card {
    width: 100%;
    height: 63px;
    border-radius: 12px;
    background-color: #2f2f2f61;
    border: 2px solid #2f2f2f28;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ability-title {
    display: flex;
    padding: 0 0 0 8%;
    /* background-color: #A94CC8; */
    width: 60%;
}

.ability-title img {
    width: 14px;
    opacity: 1;
}

.ability-title p {
    padding: 0 0 0 10%;
    font-size: 12px;
    font-weight: 600;
    /* background-color: #A94CC8; */
}

.ability-lines {
    /* background-color: #723d83; */
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    align-items: center;
}

.line {
    height: 4px;
    border-radius: 50px;
    margin: 0 2%;
}

.design-line {
    width: 80%;
    background-color: #37DBFF;
}

.animation-line {
    width: 62%;
    background-color: #A94CC8;
}

.coding-line {
    width: 74%;
    background-color: #EDD554;
}

.statistics-card {
    width: 100%;
    height: 420px;
    border-radius: 12px;
    background-color: #2f2f2f61;
    border: 2px solid #2f2f2f28;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-statistics {
    display: flex;
    justify-content: space-between;
    width: 88%;
    /* background-color: #37DBFF; */
    padding: 6% 6% 0 6%;
}

.statistics-text {
    font-size: 20px;
    font-weight: 600;
    color: var(--white-color);
    padding-left: 8%;
    width: 100%;
}

.top-top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 18% 0 0 0;
    /* background-color: #EDD554; */
}

.statistics-blabla {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.78);
    padding: 6% 8%;
    width: 62%;
    line-height: 20px;
}

.text-tag {
    width: 100%;
    /* background-color: #37DBFF; */
    height: 162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.statistics-description {
    /* background-color: #37DBFF; */
    width: 88%;
    height: 100%;
    padding: 6%;
    display: flex;
    flex-direction: column;
}

.stats {
    display: flex;
    justify-content: space-between;
    /* background-color: #37DBFF; */
    padding: 2% 0;
}

.stats-name {
    width: 34%;
    display: flex;
    /* background-color: #EDD554; */
    font-size: 10px;
    align-items: center;
    padding: 8% 0;
}

.little-round {
    width: 6px;
    height: 6px;
    border-radius: 222px;
    margin: 0 16% 0 8%;
}

.stats-stats {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
}

.note {
    font-size: 10px;
}

.line-container {
    background-color: rgba(47, 47, 47, 0.5);
    width: 92px;
    height: 6px;
    border-radius: 222px;
}

.stat-lines {
    height: 100%;
    border-radius: 222px;
}

hr {
    border: 1px solid rgba(47, 47, 47, 0.25);
}

.about-img {
    background-image: url("../assets/images/about.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}