*,
::before,
::after {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Aeonik-medium';
  src: url(../public/fonts/Aeonik-Medium.otf);
}

@font-face {
  font-family: 'Aeonik-light';
  src: url(../public/fonts/Aeonik-light.otf);
}

@font-face {
  font-family: 'Gallient';
  src: url(../public/fonts/Gallient.ttf);
}

@font-face {
  font-family: 'Lemonada';
  src: url(../public/fonts/Lemonada-VariableFont_wght.ttf);
}

:root {
  overflow-y: hidden;

  --medium-font: 'Aeonik-medium';
  --light-font: 'Aeonik-light';
  --home-font: 'Gallient';
  --title-font: 'Lemonada';

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: var(--medium-font);
}

::selection {
  background-color: #ff91b2dd;
}